@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  /* Default Light Mode values */
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-color: #f1356d;
  --card-bg: #fafafa;
}

/* A special class to override those variables */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #eeeeee;
  --primary-color: #ff4a8d;
  --card-bg: #1e1e1e;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: var(--text-color);
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--primary-color);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* issue previews / list */
.issue-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid var(--card-bg);
}
.issue-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
}
.issue-preview h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 8px;
}
.issue-preview a {
  text-decoration: none;
}
/* issue details page */
.issue-details h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.issue-details div {
  margin: 20px 0;
}
.issue-details button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new issue form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
